<p id="notice"><%= notice %></p>

<p>
  <b>Email:</b>
  <%= @session.email %>
</p>

<p>
  <b>Password:</b>
  <%= @session.password %>
</p>


<%= link_to 'Edit', edit_session_path(@session) %> |
<%= link_to 'Back', sessions_path %>
