<h1>Meu pedido</h1>
<%= link_to "Voltar para a loja", root_path %>
<br />
<%= flash[:notice] %>
<table id="items" border="1">
  <tr>
    <th></th>
    <th>Produto</th>
    <th>$</th>
    <th>Qtd</th>
    <th>Total</th>
  </tr>
  <% for item in current_order.order_items %>
    <tr>
      <td><%= link_to "excluir", item, method: :delete, style: "color:red" %></td>
      <td><%= item.product.name %></td>
      <td><%= number_to_currency item.price %></td>
      <td><%= item.quantity %></td>
      <td><%= number_to_currency item.total %></td>
    </tr>
  <% end %>
  <tr>
    <td colspan="4"></td>
    <td><%= number_to_currency current_order.total %></td>
  </tr>
</table>